<div class="card-main" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80)">
  <p><span data-controller="typed-js"></span></p>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="cards">
        <div class="card-category">
          <h4 >Choose from <br>the existing lists:</h4>
        </div>
      <% @lists.each do |list| %>
          <div class="card-category">
            <%= link_to list.name, list_path(list) %>
          </div>
      <% end %>

      </div>
    </div>
  </div>
</div>
