.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(149, 35, 206);
  transition: background 0.3s ease;

  &:hover {
    opacity: 1;
    color: white;
    background: rgb(48, 180, 15);
  }
}

.btn-ghost {
  color: white;
  border: 2px solid white;
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
    color: white;
    background-color: rgb(48, 180, 15);
  }
}

.btn-red {
  color: rgb(149, 35, 206);
  border: 2px solid rgb(149, 35, 206);
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
    color: white;
    background-color: rgb(48, 180, 15);
  }
}
