.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e9a21f;
  transition: background 0.3s ease;
}

.btn-ghost {
  color: rgb(190, 15, 15);
  border: 2px solid rgb(190, 15, 15);;
  padding: 8px 16px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
    color: rgb(48, 180, 15);
  }
}
