.navbar-lewagon {
  justify-content: space-between;
  background: rgb(190, 15, 15);
  border-bottom: 1px solid rgb(120, 10, 10);

  a {
    text-decoration: none;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
